.main__temperature-summary{
    font-family:'Cabinet Grotesk';
    font-size:20px;
    line-height:24.8px;
    font-weight:700;
    margin: 0;
}
.modal__overlay--open {
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.3);
  }